:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

.body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-white)
}

.header-link:hover, .header-link:focus {
  color: var(--color-ocean);
  text-decoration: underline;
  font-weight: 500;
}

.header-nav {
  text-decoration: none;
}

.link {
text-decoration: none;
}
.header-logo-link {
  color: var(--color-iris);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo-text {
  color: var(--color-navy-blue);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.header-nav:list {
  list-style: none;
 
}
.header-link {
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em
   var(--color-navy-blue-modal)
  text-decoration: none;
}

.address-menu-list {
  color: var(--color-navy-blue);
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-contact:hover, .address-contact:focus {
  color: var(--color-ocean);
  text-decoration: underline;
}

.section-hero {
  background-color: var(--color-navy-blue);
}

.hero-title {
color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.link
.hero-btn {
  cursor: pointer;
  background-color: var(--color-iris);
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-btn:hover, .hero-btn:focus {
  background-color: var(--color-ocean);
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

.features-text {
  color: var(--color-slate);
  letter-spacing: 0.02em;
}

.picture-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}



.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-grey);
}
.section-team {
  background-color: var(--color-cloud);
}

.team-list{

}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
  color: var(--color-grey);
}

.team-text {
  color: var(--color-slate);
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--color-navy-blue);
  color: var(--color-cloud);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo:link {
  color: var(--color-iris);
  font-family: Raleway;
  text-decoration: none;
}
.footer-logo-text {
  color: var(--color-cloud);
  
}






.portfolio-btn-list {
  cursor: pointer;
  background-color: var(--color-cloud);
  color: var(--color-iris);
  font-weight: 500;
  "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.portfolio-color-btn{
  background-color: var(--color-ocean);
  color: var(--color-white);
}

.row-list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.row-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.row-text {
  color: var(--color-slate);
}
